{% extends "layout.html" %}
{% block body %}
<div class="book">
    <div class="book-body">
        {% block book_body %}
            <div class="body-inner">
                {% block book_inner %}
                    {% include "website/header.html" %}
                    <div class="page-wrapper" tabindex="-1" role="main">
                        <div class="page-inner">
                            {% block search_results %}
                                <section class="normal markdown-section">
                                {% block page %}
                                {{ page.content|safe }}
                                {% endblock %}
                                </section>
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
</div>
{% endblock %}
