.markdown-section hr{height:1px;padding:0;margin:1.7em 0;overflow:hidden;background-color:#e7e7e7;border:none}
.book-summary ul.summary ul.articles a{white-space: normal;font-size: 12px;padding: 6px 15px;}
* {-webkit-touch-callout: default;}
p.modest {opacity: 0.7;font-size: 14px;}
