<!DOCTYPE HTML>
<html lang="{{ page.lang|d("en") }}">
    <head>
        <meta charset="UTF-8">
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title>{% if file.path == "README.md" %}{{ "Akaki I/O" }}{% else %}{{ page.title }} - {{ "Akaki I/O" }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="/icons/favicon.png">
        <link rel="alternate" type="application/atom+xml" href="/atom.xml">
        {% block style %}
                <link rel="stylesheet" href="{{ "style.css"|resolveAsset }}">
            {% for resource in plugins.resources.css %}
                {% if resource.url %}
                <link rel="stylesheet" href="{{ resource.url }}">
                {% else %}
                <link rel="stylesheet" href="{{ resource.path|resolveAsset }}">
                {% endif %}
            {% endfor %}
            {% for type, style in config.styles %}
                {% if fileExists(style) and type == "website" %}
                <link rel="stylesheet" href="{{ style|resolveFile }}">
                {% endif %}
            {% endfor %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
